# ansible.cfg

[defaults]
inventory = ./hosts-dev
remote_user = javimm97
private_key_file = ~/.ssh/sshkey
host_key_checking = False
retry_files_enabled = False

# Para usuarios de Windows
[ssh_connection]
ssh_args = -o ControlMaster=no
